---
import Product from "./Product.astro"
import { actions } from 'astro:actions';

// Llamar a la action para obtener los productos
const result = await Astro.callAction(actions.products.getProducts, {}); 
const products = result.data || [];

// Filtrar productos por categoría
const cereales = products.filter(product => product.id_categoria === '922fb70d-3a54-48e5-91cf-effb9ab3d3cb');
const panes = products.filter(product => product.id_categoria === '23351604-a1b5-452b-8d7a-1e8db7395da1');
const soya = products.filter(product => product.id_categoria === 'cd369df6-7f77-408d-b84d-6abbdb60e781')


---
<section class="section-padding xl:p-20">
    <h1 class="section-title ml-4" id="Cereales">Cereales</h1>

    <div class="w-full flex flex-wrap justify-between sm:justify-start md:gap-20 mb-10">
        {
            cereales?.map((cereal) => ( 
                <Product
                    image={cereal.imagen_producto}
                    name={cereal.nombre_producto}
                    weight={cereal.peso_producto}
                />
            ))
        }
    </div>

    <h1 class="section-title ml-4" id="Panes">Panes</h1>

    <div class="w-full flex flex-wrap justify-between sm:justify-start md:gap-22">
        {
            panes?.map((pan) => ( 
                <Product
                    image={pan.imagen_producto}
                    name={pan.nombre_producto}
                    weight={pan.peso_producto}
                />
            ))
        }
    </div>

    <h1 class="section-title ml-4 mt-8" id="Soya">Soya</h1>

    <div class="w-full flex flex-wrap justify-between sm:justify-start md:gap-22">
        {
            soya?.map((soya) => ( 
                <Product
                    image={soya.imagen_producto}
                    name={soya.nombre_producto}
                    weight={soya.peso_producto}
                />
            ))
        }
    </div> 
</section>