---
import Product from "./Product.astro";
import ProductModal from "./ProductModal.astro";
import { actions } from "astro:actions";
import type { Product as ProductType } from "../../actions/products";

let products: ProductType[] = [];

let hasError = false;
let errorMessage = "";

const { data, error } = await Astro.callAction(
    actions.products.getProducts,
    {},
);

if (error) {
    hasError = true;

    // Manejar según el código de error
    switch (error.code) {
        case "BAD_REQUEST":
            errorMessage =
                "Error al conectar con la base de datos. Por favor, recarga la página.";
            break;
        case "NOT_FOUND":
            errorMessage = "No hay productos disponibles en este momento.";
            break;
        case "INTERNAL_SERVER_ERROR":
            errorMessage =
                "Ocurrió un error en el servidor. Por favor, intenta más tarde.";
            break;
        default:
            errorMessage = "Ocurrió un error inesperado.";
    }
    console.error("Error de Action:", error.message);
} else {
    products = data || [];
}

// Agrupar productos por categoría
const productsByCategory = products.reduce((acc, product) => {
        const categoryName =
            product.sgp_m_categorias?.nombre_categoria || "Sin Categoría";

        if (!acc[categoryName]) {
            acc[categoryName] = [];
        }

        acc[categoryName].push(product);
        return acc;
    },
    {} as Record<string, ProductType[]>,
);

// Obtener nombres de categorías ordenados (opcional: ordenar alfabéticamente o por algún otro criterio)
const categories = Object.keys(productsByCategory).sort();
---

<section class="section-padding xl:p-20 2xl:px-56">
    {
        hasError && (
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
                <p>{errorMessage}</p>
            </div>
        )
    }

    {
        categories.map((category) => (
            <>
                <h1 class="section-title ml-4 mt-8 first:mt-0" id={category}>
                    {category}
                </h1>

                <div class="w-full flex flex-wrap justify-between sm:justify-start md:gap-20 mb-10">
                    {productsByCategory[category]?.map((product) => (
                        <Product
                            image={product.imagen_producto}
                            name={product.nombre_producto}
                            weight={product.peso_producto}
                            productId={product.id_producto}
                        />
                    ))}
                </div>
            </>
        ))
    }

    <ProductModal {products} />
</section>
