---
import { Image } from 'astro:assets';
import type { ImageMetadata } from "astro";
import cerealImage from '/src/assets/images/inicio/cereales-banner.svg';
import panesImage from '/src/assets/images/inicio/panes-banner.svg';
import soyaImage from '/src/assets/images/inicio/soya-banner.svg';

import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

interface Banner {
  id: number;
  titleBanner: string;
  description: string;
  buttonText: string;
  buttonLink: string;
  image: ImageMetadata;
  bgGradient: string;
  theme: 'blue' | 'orange' | 'green'; 
}

// Objeto de mapeo para estilos
const themeStyles = {
  blue: {
    text: 'text-secondary',
    bg: 'bg-secondary',
    hover: 'hover:bg-secondary/90'
  },
  orange: {
    text: 'text-orange-600',
    bg: 'bg-orange-600',
    hover: 'hover:bg-orange-600/90'
  },
  green: {
    text: 'text-green-600',
    bg: 'bg-green-700',
    hover: 'hover:bg-green-600/90'
  }
};

const banners: Banner[] = [
  {
    id: 1,
    titleBanner: "¡Crunch, sabor y energía!",
    description: "Descubre la variedad de nuestros cereales para toda la familia.",
    buttonText: "Ver productos",
    buttonLink: "/productos",
    image: cerealImage,
    bgGradient: "bg-radial-[at_50%_55%] from-blue-200 from-10% to-light-blue to-60%",
    theme: "blue"
  },
  {
    id: 2,
    titleBanner: "El pan de cada día, más delicioso.",
    description: "Suavidad y sabor perfectos para sándwiches, perros y hamburguesas.",
    buttonText: "Ver productos",
    buttonLink: "/productos",
    image: panesImage,
    bgGradient: "bg-radial-[at_50%_55%] from-orange-200 from-10% to-orange-100 to-60%",
    theme: "orange"
  },
  {
    id: 3,
    titleBanner : "¡El futuro de la cocina llegó!",
    description: "Descubre nuestra nueva soya texturizada: proteína versátil y deliciosa.",
    buttonText: "Ver productos",
    buttonLink: "/productos",
    image: soyaImage,
    bgGradient: "bg-radial-[at_50%_55%] from-green-200 from-10% to-light-green to-60%",
    theme: "green"
  }
];
---

<div class="swiper banner-swiper w-full ">
  <div class="swiper-wrapper">
    {banners.map((banner) => {
      // Obtenemos el set de clases correspondiente al theme del banner
      const styles = themeStyles[banner.theme];
      return (
        <div class="swiper-slide">
          <section class={`w-full min-w-[300px] px-6 py-10 ${banner.bgGradient} flex flex-col justify-center items-center gap-12 h-[600px] md:flex-row md:justify-between md:h-90 md:p-12 lg:p-28 xl:px-36 lg:h-[430px] lg:w-auto lg:m-10 lg:mb-0 lg:rounded-4xl 2xl:h-[540px] 2xl:mx-56`}>
            
            <div class="min-w-[324px] flex flex-col items-center text-center md:items-start md:text-start">
              {/* Aplicar clases desde el objeto de mapeo */}
              <h1 class={`main-title mb-3 ${styles.text}`}>{banner.titleBanner}</h1>
              <p class={`text-lg/5 font-medium max-w-[40ch] md:text-xl/7 ${styles.text}`}>{banner.description}</p>
              <a href={banner.buttonLink} class={`btn hidden md:flex md:mt-4 lg:mt-8 ${styles.bg} ${styles.hover}`}>
                {banner.buttonText}
              </a>
            </div>
  
            <Image src={banner.image} alt={`Banner de ${banner.titleBanner}`} class="w-[300px] lg:w-[400px] xl:w-[430px] max-w-[430px]" loading={'eager'}  />
            
            <a href={banner.buttonLink} class={`btn md:hidden ${styles.bg} ${styles.hover}`}>
              {banner.buttonText}
            </a>
          </section>
        </div>
      );
    })}
  </div>

  <div class="swiper-pagination mb-3"></div>
</div>

<script>
  import Swiper from 'swiper/bundle';

  document.addEventListener('DOMContentLoaded', () => {
    new Swiper('.banner-swiper', {
      loop: true,
      autoplay: {
        delay: 2000,
        disableOnInteraction: false, // El autoplay no se detiene después de la interacción del usuario
      },
      speed: 1000, // Velocidad de la transición en ms
      
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      
      // Pausar el autoplay al pasar el mouse por encima (buena práctica de UX)
      on: {
        init: function (swiper) {
          swiper.el.addEventListener('mouseenter', () => {
            swiper.autoplay.stop();
          });
          swiper.el.addEventListener('mouseleave', () => {
            swiper.autoplay.start();
          });
        }
      }
    });
  });
</script>
