---
import { Image } from "astro:assets";
import Header from "./Header.astro";

interface Props {
  image: any;
  title: string;
  subtitle?: string;
  currentPath: string
}

const {
  image,
  title,
  subtitle,
  currentPath
} = Astro.props;

---

<section class="relative w-full h-[80vh] md:rounded-b-[52px] overflow-hidden 2xl:h-[50vh]">
  <Image 
    src={image} 
    alt={title}
    class="absolute inset-0 w-full h-full object-cover md:rounded-b-[52px]" 
    loading="eager"
    format="webp"
  />

  <!-- Overlay -->
  <div class="absolute inset-0 bg-black/50 md:rounded-b-[52px]"></div>
  
  <Header classicHeader={false} currentPath={currentPath} class="absolute top-0 left-0 w-full z-20"/>

  <div class="relative z-10 flex flex-col justify-end h-full section-padding md:justify-center">
    <h1 class="text-white main-title md:mt-12 lg:mt-0">{title}</h1>
    <p class="text-white text-lg/6 font-normal mb-0 max-w-[50ch] md:text-xl/7">
      {subtitle}
    </p>
  </div>
</section>
